.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 40px;
    gap: 40px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
}