.mainCnt {
    padding: 10px 20px;
    background-color: $color-bg-ligth;
    border-radius: 20px;

}

.itemCnt {
    display: flex;
    background-color: $color-bg-ligth;
    padding-right: 15px;
    gap: 15px;
    // align-items: center;
    justify-content: space-between;
}

.iconsCnt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleCnt {
    flex-grow: 1;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    line-height: 1.25;
}

.subtitle {
    font-size: 14px;
    padding-bottom: 10px;

}

.itemPhotoCnt {
    padding: 10px;
    position: relative;

}

.itemPhoto {
    position: absolute;
    right: 0;
    bottom: 0;
}

.wineListCnt {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}